<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- link de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- link de signos y dibujitos -->
    <script src="https://kit.fontawesome.com/438a418e01.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de mercado liebre">
            </div>
            <div class="search">
                <form action="buscar" method="">
                    <input type="text" placeholder="Buscar productos, marcas"> <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p class="compra-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                compra en cuotas y sin tarjeta de credito
            </p>
        </div>

        <nav class="navegador">
            <ul class="navBar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vendedor</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="loginBar">
                <li><a href="#">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li><a href="#">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href="#">Mis compra</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>

        <div class="burgerBoton">
            <a href="#"> <i class="fa-solid fa-bars"></i> </a>
        </div>
    </header>

    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de Mercado Liebre">
    </section>

    <main>
        <section>
            <h2 class="titulo">Basado en la Ultima visita</h2>
                <div class="ultima-visita">
                    <div class="card">
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripcion">cafetera moulinex</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen de una macbook">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <h4 class="descripcion">Macbook pro 2010</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen de una Samsung">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="Imagen de una TV Samsung">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTV Samsung 43"</h4>
                        </div>
                    </div>
                </div>
        </section>

        <section>
            <h2 class="titulo">Seccion de ofertas</h2>
                <div class="ofertas">
                    <div class="card">
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripcion">cafetera moulinex</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen de una macbook">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <h4 class="descripcion">Macbook pro 2010</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen de una Samsung">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="Imagen de una TV Samsung">
                        <div class="card-description">
                            <i class="fa-solid fa-truck-moving descuento-bus"></i>
                            <div class="card-description-price">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTV Samsung 43"</h4>
                        </div>
                    </div>
                </div>
        </section>
    </main>

    <footer>
        <article class="footer">
            <section class="warranty">
                <i class="fa-solid fa-credit-card card-color"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="warranty">
                <i class="fa-solid fa-gift card-color"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </section>

            <section class="warranty">
                <i class="fa-solid fa-user-shield card-color"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </article>
        <article class="copyright"> 
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>
</html>