<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- link de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- link de signos y dibujitos -->
    <script src="https://kit.fontawesome.com/438a418e01.js" crossorigin="anonymous"></script>
    <!-- link de CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="360" class="logo">
            <section class="header-top">
                <div class="buscador">
                    <form action="buscar" method="">
                        <div>
                            <input type="text" placeholder="Buscar productos, marcas">
                        </div>

                        <div>
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>

                    </form>
                </div>

                <div class="comprar-cuotas">
                    <p>
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        compra en cuotas y sin tarjeta de credito
                    </p>
                </div>

            </section>
        </div>

        <nav class="navegador">
            <ul class="navBar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="loginBar">
                <li><a href="#">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li><a href="#">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href="#">Mis compra</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>

        <a href="#" class="burgerBoton"> <i class="fa-solid fa-bars"></i> </a>
    </header>
    
    <section class="imagen">
        <img src="images/img-home-banner.jpg" alt="Banner de mercado Liebre">
    </section>

    <main>
        <section>
            <h2 class="titulos">Basado en tu ultima visita</h2>
            <div class="card">
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera">
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h3 class="descripcion">cafetera moulinex</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro 2019" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3 class="descripcion">macbook pro 2010</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3 class="descripcion">samsung galaxy S10</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="imagen de Smart TV" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTV samsung 43"</h3>
                </div>
            </div>
        </section>

        <section>
            <h2 class="titulos">Seccion de ofertas</h2>
            <div class="card">
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h3 class="descripcion">cafetera moulinex</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro 2019">
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3 class="descripcion">macbook pro 2010</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="preio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3 class="descripciones">samsung galaxy S10</h3>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="imagen de Smart TV" >
                <div class="card-description">
                    <i class="fa-solid fa-truck-moving descuentos"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTV samsung 43"</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <article>
            <section>
                <i class="fa-solid fa-credit-card card-color"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <i class="fa-solid fa-gift card-color"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </section>

            <section>
                <i class="fa-solid fa-user-shield card-color"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </article>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>