:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios:18px;
    --descuentes: 16px;
    --descripcion: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-size: var(--cuerpo-texto);
    background-color: var(--gris-claro)
}

header {
    background-color: var(--amarillo);
}


.header-top {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.logo, .search {
    width: 50%;
}

.logo{
    padding: 10px;
}

.search{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}


.compra-cuotas {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.navegador{
    display: none;
}

.navegador ul {
    list-style: none;
}

.navegador ul li a {
    text-decoration: none;
    color: black;
}

.burgerBoton{
    background-color: var(--azul);
    max-width: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 10px 0px;
}

.burgerBoton a i {
    color: white;
}

main{
    width: 90%;
    margin: 0 auto;
}


footer {
    margin: 5px;
}

.footer {
    text-align: center;
}

.warranty i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--celeste);
}

.copyright{
    margin: 5px;
}

/* estilos de la pagina Index.html */
.banner img {
    width: 100%;
}


.ultima-vista{
    display: flex;
    flex-direction: column;
}

.ofertas {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: var(--titulares);
}

.card{
    margin: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.card img {
    width: 100%;
}

.card-description {
    font-size: var(--descripcion);
    border-top: 1px solid var(--gris-claro);
    margin: 15px;
    position: relative;
}

.descuento-bus {
    color: var(--verde);
    display: block;
    font-size: var(--descuentes);
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.card-description i {
    transition: 400ms;
}
.card:hover .card-description  i {
    transform: rotate(-90deg)
}

.card-description-price {
    display: flex;
    margin: 10px 0 ;
}
.precio {
    font-size: var(--precios);
    flex-grow: 0.3;
}

.descuentos{
    color: var(--verde);
    flex-grow: 0.7;
}

.card:hover .card-description .card-description-price  .descripcion {
    display: block;
}

.descripcion {
    display: none;
    transition: 350ms;
}

/* estilos en la pagina de register.html */

.register{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

.form-container{

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 15px;
}

.form-container input {
    border: none;
    border-bottom: 1px solid var(--gris-oscuro);
    margin-top: 5px;
}

.calendar{
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 15px;
}

.calendar input {
    border: none;
    color: var(--gris-oscuro);
}

.user{
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 15px;
}

.user-option{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.category{
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 15px;
}

.category-select {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-select-item {
    margin: 2%;
}

.avatar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 15px;
}

.avatar input {
    margin: auto;
}

.button{
    margin: 5px;
    padding: 1% 5%;
    border-radius: 10px;
    color: #fff;
    background-color: var(--celeste);
    border: 1px solid var(--azul);
    transition: 350ms;
}
.boton-envio:hover{
    background-color: #0022AA;
}
@media (min-width: 361px) {
    .burgerBoton{
        display: none;
    }
    .descripcion{
        display: none;
    }
    .card:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .logo, .search, .compra-cuotas {
        width: 33%;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        
    }
    .compra-cuotas{
        text-align: center;
        padding-top: 25px;
    }

    .navegador {
        display: flex;
        justify-content: space-between;
    }
    .navegador ul {
        display: flex;
        justify-content: space-around;
    }
    .navegador li {
        margin: 0 5px;
    }

    /* estilos para la paginas Index.html */
    .ultima-visita{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;  
    }
    .ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    .card{
        max-width: 45%;
    }
}

@media (min-width: 769px) {
    .ultima-visita{
        display: flex;
        flex-wrap: wrap;
        
    }
    .ofertas {
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        max-width: 22%;
    }
    .footer {
        display: flex;
        padding: 10px 0;
    }
    .warranty i:hover {
        color: #03264C;
    }
}