:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios:18px;
    --descuentes: 16px;
    --descripcion: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    font-size: var(--cuerpo-texto);
    padding: 10px;
    background-color: var(--gris-claro)
}
header {
    background-color: var(--amarillo);
    font-family: 'roboto';
}

img{
    width: 100%;
}

.logo{
    width: 50%;
    margin: 10px;
}

.buscador{
    margin: 15px;
}

.comprar-cuotas {
    text-align: center;
    margin-bottom: 10px;
}

.navegador {
    display: none;
}

nav .navBar {
    margin-bottom: 20px;
}

.burgerBoton {
    display: block;
    background-color: var(--azul);
    color: white;
    max-width: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 10px 0px;
}

.navegador > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegador > ul > li > a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.imagen {
    width: 100%;
}

main {
    width: 90%;
    margin: 20px;;
}



.titulos {
    font-size: var(--titulares);
}

.card {
    display: block;
    background-color: white;
    margin: 10px;
}

.card > img {
    margin-bottom: 0;
}

.card-description {
    background-color: white;
    border-top: 1px solid var(--gris-oscuro);
    padding: 15px;
    text-align: left;
}

.precio {
    font-size: var(--precios);
}

.descuentos {
    font-size: var(--descuentes);
    color: var(--verde);
}

.descripcion {
    font-size: var(--descuentes);
    display: none;
}

footer article {
    text-align: center;
    padding: 10px;
}

.card-color {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--celeste);
}

@media (min-width: 361px) {
    .descripcion {
        display: block;
    }
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px) {
    .navegador {
        display: block;
    }
    .burgerBoton {
        display: none;
    }
}